.package-container{
    width:100%;
    padding:20px;
    padding-top: 0;
}


.package-container h1{
    text-align:center;
    font-size:3rem;
    margin-bottom: 10px;
}
.package-container p{
    text-align:center;
    font-size:1.5rem;
    line-height: 4rem;
}
.package-card-container{ 
    display: flex;
    width:95%;
    margin:0 auto;
    justify-content: space-evenly;
    margin-top: 30px;
    
}
.package-card-contents{
    width: 348px;
    height: 473px;
    background-image: url(./Package-asset/cardbg.png);
    background-repeat: no-repeat;
    padding: 20px;
    
}
.card-special{
    width: 90%;
    margin: 10px auto;
    padding:8px 5px;
    border: none;
    border-radius: 20px;
    text-align: center;
}
.card-heading{
    position:relative;
    font-weight:600; 
}

.combo-img{
    display:flex;
    width:100%;
    justify-content:center;
}
.cap{
    position:relative;
    width:32%;
    height:40%;
    left: 15%;
  
    
}
.off{
    position:relative;
    width:30%;
    height:40%;
    left: 18%;
    
}
.package-card-contents .month-price{    
    position:relative;
    color:var(--primary-white);
    font-size:45px;
    font-weight:700;
    margin-top: 20px;
}

.package-card-contents .month-price smaller{
    font-size:25px;
    font-weight:500;
    color:var(--primary-black);
    margin-left:10px;

}
.off-price{
    position:relative;
    color:var(--primary-black);
    font-weight:700;
    line-height: 1rem !important;
}
.off-price smaller{
    font-size:20px;
    font-weight:500;
    color:var(--primary-black);
    margin-left:10px;
}
hr {
    width:100%;
    position:relative;
    border-style:dashed;
    border-width:initial;
    color:var(--primary-white);
    margin-top: 9px;
}
.package-card-contents .try-btn{
    width:100%;
    position:relative;
    margin-top: 25px;
}
.arrow{
    font-weight:800;
    font-size: 22px;
    padding-top:3px;
}