.hero-container{
   width:100%;
   height:47rem;
   background-image:url("./herobg.png");
   background-size: cover;
   background-repeat:no-repeat;
   
   
}
.hero-center{
    width:95%;
    margin:0 auto;
    position: relative;

}
.hero-container img{
    position:relative;
    left:54%;
    top:12rem;
    width: 42%;
    padding:10px;
}
.hero-contents{
    width: 35%;
    position: absolute;
    top: 6rem;
    left: 8%;
}
.hero-contents h1{
    color:var(--primary-white);
    font-size: 3rem;
}
.hero-contents p{
    color:var(--primary-white);
    font-size: 2rem;
    line-height:45px;
    margin:25px 0;
}
.try-btn{
    width:57%;
    height: 65px;
    background:var(--primary-orange);
    border-style:none;
    border-radius: 11px;
    border-bottom: 5px solid var(--primary-dark-orange);
    color:var(--primary-white);
    font-weight:800;
    font-size:1.25rem;
}