.pass-container{
    width:100%;
    padding:20px;
}
.pass-container h2{
   font-size:3rem;
    text-align:center;
    margin-bottom: 10px;
}
.pass-contents{
    width:95%;
    margin:0 auto;
}
.pass-grid-container{
    width: 100%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,22rem);
    grid-gap: 5rem;
    padding: 0 5%; 
    justify-content:center;  
}
.pass-grid-container article{
    display:flex;
    margin:0 5px;
    width:80%;
}
.pass-grid-container article img{
    margin-right:15px;
    width:60px;
    height:50px;
}
/***********************************************Media Query***********************************************************/
@media (max-width:922px){
    .pass-contents h2{
        font-size: 1.6rem;
    }
    .pass-grid-container{
        grid-gap:3rem;
        padding:10px auto;
        margin:auto;
        align-content: center;
        justify-content: center;
    }
    .under-line{
        margin-bottom:30px;
    }
}