.pass-container{
    width:100%;
    padding:5% 10%;
}
.pass-container h2{
   font-size:3rem;
    text-align:center;
}
.pass-contents{
    width:95%;
    margin:0 auto;
}
.pass-grid-container{
    width: 100%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,22rem);
    grid-gap: 4rem;
    padding: 0 5%;   
}
.pass-grid-container article{
    display:flex;
    margin:0 5px;
    width:55%;
}
.pass-grid-container article img{
    margin-right:15px;
    width:35%;
    height:100%;
}