.abt-container{
    width:100%;
    padding:10px 20px;
}
.center-abt-section{
    width:95%;
    margin:0 auto;
}
.abt-container h1{
    text-align:center;
    font-size:3.5rem;
    margin-top:65px;
    padding:15px;
    
}


.abt-contents {
    width:100%;
    display:flex;
    justify-content:space-evenly;
}
.abt-video{
    width:40%;
    margin-top:3%;
}
.abt-content{
    width:40%;
    margin-top:3%;
    font-size: 1rem;
}
