.view-container{
    width:100%;
    margin:30px auto;
}
.view-contents{
    width:95%;
    margin:0 auto;
}
.view-contents h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom: 10px;
}
.view-flex{
    width:90%;
    display:flex;
    margin:50px auto;
}
.view-content{
    width:60%;
    margin-left:0 50px;
    text-align:center;
}
.view-content h3{
    color:var(--primary-green);
    margin:5px 0;
    font-size:1.7rem;
    font-family:Roboto;
}
.view-content h4{
    color:var(--primary-green);
    margin:5px 0;
    font-size:1.7rem;
}
.view-content p{
    font-size: 1.2rem;
    line-height: 30px;
    margin: 9px 10px;
}
.rating-container{
    width:100%;
    margin-top: 10px;
}
.rating-container .rating-icon{
    margin-right:1%;
    color:var(--primary-yellow);
}
.view-img{
    width:40%;
    margin-left: 40px;
    text-align: center;
}
/*******************************************************Media queries************************************************************************/
@media (max-width:922px){
    .view-flex{
        display:block;
    }
    .view-contents h2{
        font-size:1.5rem;
        margin-bottom: 10px;
    }
    .view-content p {
        font-size:1rem;
        margin:auto;
        line-height:25px; 
    }
    .view-content{
        width:100%;
    }
    .view-content h3{
        font-size:1.3rem;
    }
    .view-content h4{
        font-size:1.3rem;
    }
    .view-img{
        width:100%;
        margin:auto;
    }
}
