@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.reward-container{
    width:100%;
    margin:50px 0;
}
.reward-contents{
    width:95%;
    margin:0 auto;
}
.reward-contents h2{
    font-size:3.5rem;
    font-family:"Roboto";
    font-weight:600;
    text-align:center;
    margin-top:6rem;
    margin-bottom: 10px;
}
.flex-reward{
    width:100%;
    display:flex;
    padding:50px;
}
.flex-reward img{
    width:33%;
    margin:0 10px;
}

@media (max-width:922px){
    .reward-contents h2{
        font-size: 1.5rem;
    }
    .flex-reward{
        display: block;
    }
    .flex-reward img{
        width: 90%;
    }
    .reward-container{
        margin: 0;
    }
}
