.Feature-container{
    width:100%;
    padding:10px 20px;
    
}
.Feature-container h1{
    text-align:center;
    font-size: 3rem;
    margin: 50px 100px 10px
}
.feature-contents-container{
    width:95%;
    margin:40px auto;
    display:flex;
    justify-content: space-between;
}
.feature-grid{
    width:70%;
    display:grid;
    grid-template-columns: repeat(auto-fit,23rem);
    grid-gap:2rem;
    margin-top: 11px;
}
.fcontents{
    display:flex;
}
.fcontents img{
    width:60px;
    height:50px;
    margin-right:10px;
}
