.Feature-container{
    width:100%;
    padding:10px 20px;
    
}
.Feature-container h1{
    text-align:center;
    font-size: 3rem;
    margin: 5% auto;
}
.feature-contents-container{
    width:95%;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
}
.feature-grid{
    width:56%;
    display:grid;
    grid-template-columns: repeat(auto-fit,23rem);
    grid-gap:2rem;
    padding-left:10%;
    margin-top: 11px;
}
.fcontents{
    display:flex;
}
.fcontents img{
    width:50px;
    height:50px;
    margin-right:10px;
}
.feature-contents-container article{
    width:auto;
    padding-right:20%;
}