.Feature-container{
    width:100%;
    padding:10px 20px;
    
}
.Feature-container h1{
    text-align:center;
    font-size: 3rem;
    margin: 50px 100px 10px
}
.feature-contents-container{
    width:95%;
    margin:40px auto;
    display:flex;
    justify-content: space-between;
}
.feature-grid{
    width:70%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(272px, 1fr));
    grid-gap:2rem;
    margin-top: 11px;
}
.feature-img{
    text-align: center;
    width: 50%;
}

.feature-img img{
    width: 250px;

}
.fcontents{
    display:flex;
}
.fcontents img{
    width:60px;
    height:50px;
    margin-right:10px;
}
/*********************************************Media Queries***************************************************************/
@media (max-width:992px){
    .feature-contents-container{
        display:block;
        margin:auto;
        width: 100%;
    }
    .feature-grid{
        width:100%;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .feature-img{
        width: 100%;
    }
    
    .Feature-container h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    }
}
