.fun-container{
    width:100%;
    padding:0 20px;
}
.fun-contents{
    width:95%;
    margin:0 auto;

}
.fun-contents h2{
    text-align:center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.flex-section{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin:70px 0;
}
.fun-img{
    width:40%;
    margin:0 20px;
}
.fun-content{
    width:60%;
    margin:0 20px;
}
/*************************************************Media queries*************************************************************/
@media (max-width:922px){
    .fun-contents h2{
        font-size:1.6rem;
        margin-bottom:0;
        margin-top:50px;
    }
    .flex-section{
        display:block;
    }
    .fun-img{
        width:100%;
        margin:auto;
    }
    .fun-img img{
        width:100%;
        margin:15px auto;
    }

    .fun-content{
        width:100%;
        margin:auto;
    }
    .fun-content p{
        padding-top: 5px;
    }


}